/*exportacion de letra*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* variables*/
:root {
--green-color:#7acc2d;
--white-color:white;
--black-color:black;

/*espaciado*/
--space:10px;
/*tipografia*/
--normal:12px;
/*box-shadow*/
--box-shadow: 0px 2px 1px var(--black-color);
}
/* fin de variables*/
 
 
 html,body{
    padding: 0px;
    margin: 0em;
    font-size: var(--normal);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


nav{
    display: flex;
    background-color:var(--green-color);
    padding: var(--space);
    color:var(--white-color);
    /* este sirve para serpara elemento el de tipo div a laos extremos del nav*/
    justify-content: space-between;
    /*organiza los elementos verticalmente al centro*/
    align-items: center;
}
nav ul{
    display: flex;
  
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color:var(--black-color);
    /* este sirve para quitar las decoreciones de las etiquetas A como es el subrayado*/
    text-decoration: none;
}

a:hover{ 
 color: var(--white-color);
}
.main_section{
    padding: 15%;
    text-align: center;
}
.products{
    background-image: url(../imagenes/curve.png);
    max-height: 80px;
    /* este sirve para decirle a la imagen que ocupe el tamaño del div*/
    background-size: cover;
    /* este sirve para posicionar el fondo*/
    background-position: center top;
    padding: 15%;
    display: flex;
    margin-top: 30px;
}
.product{
    padding: var(--space);
    margin-top: -260px;
}

.product .content {
    background-color:var(--white-color);
    padding: 20px;
    box-shadow: var(--box-shadow);
}
.img_content{
text-align: center;
}

.main_button{
    background-color:var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: none;
    
}

.main_button:hover{
    background-color: #5e9e22 ;
    box-shadow: 4px 4px 10px var(--black-color);
    cursor: pointer;
}

.caracteristicas{
    display: flex;
    padding: 10%;
   

}
.item_carac{
    
   margin-left: 12%;
   
}

.img_carac{
 
    text-align: center;
    
}

.img_c{
    height: 104px;
}
.titulo_menc{
    text-align: center;
}

.menciones{   
  display: flex;
  padding: 2%;
  
  justify-content: center;
}
.img_m{
    width: 239px;
    height: 105px;
}
.item_menc{
    
    display: inline-block;
    border-radius: 2px;
    box-shadow: var(--box-shadow);
    width: 239px;
    height: 180px;
    margin: 10px;
}

 footer{
     display: flex;
     height: 60px;
     background-color: #313337;
    justify-content: space-between;
    color: var(--white-color);
    align-items: center;
 }